
.container {
  // max-width: 1200px;
  width: 100%;
  height: calc(100vh - 94px);
  // margin: 0 auto;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  .content{
    margin-top: 60px;
  }
  
  h1{
    text-align: start;
  }

  form {
    margin-top: 30px;
    // width: 830px;
    display: flex;
    flex-direction: column;

    button{
      width: 830px;
    }
  }
  // justify-content: space-between;

}