.input{
  background: var(--orange-100);
  color: var(--black-500);
  border: 1px solid var(--orange-300);
  border-radius: 8px;

  height: 50px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.input::placeholder{
  color: rgba(0, 0, 0, 0.7);
}